<% 'use strict'; %>
<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <div class="header">
      <% include partials/business-navbar %>
    </div>
    <div class="schedule">
      <H2>Schedule</H2>
      <form id="schedule-form" action="/schedule"  method="post">
        <div class=workdays>
          <label for="workdays">Work days</label>
          <ul>
            <% (function() { %>
              <% const week = ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'];%>
              <% week.forEach((day) => { %>
                <% if (business.workdays.includes(day)) { %>
                  <li class="checked" onclick="addInput(this, 'workdays')" data-time="<%= day %>"><%= day %>
                    <input type="text" name="workdays" value="<%= day %>">
                  </li>
                  
                <% } else { %>
                  <li onclick="addInput(this, 'workdays')" data-time="<%= day %>">
                    <%= day %>  
                  </li>
                <% } %>
              <% }); %>
            <% })(); %>
          </ul>
        </div>
        <div class="workhours">
          <label for="time">Working hours</label>
          <ul class="clock">
            <% (function() { %>
              <% let h, m, hh, mm, rad, numTxt, left, right, top, bottom, position; %>
              <% let angle = 270; %>
              <% let x = 0; %>
              <% let y = 0; %>
              <% let d = 75; %>
              <% for (h = 0; h < 24; h++) { %>
                <% for (m = 0; m < 60; m += 30) { %>
                  <% hh = h.toString().length === 2 ? h : '0' + h; %>
                  <% mm = m.toString().length === 2 ? m : '0' + m; %>
                  <% if (h === 0 && m === 0) { %>
                    <% numTxt = "M"; %>
                  <% } else if (h === 12 && m === 0) { %>
                    <% numTxt = "N"; %>
                  <% } else if (h < 12 && m === 0 ) { %>
                    <% numTxt = h; %>
                  <% } else if (h > 12 && m === 0) { %>
                    <% numTxt = h - 12; %>
                  <% } else { %>
                    <% numTxt = mm; %>
                  <% } %>
                  <% rad = angle * (Math.PI / 180); %>
                  <% x = Math.cos(rad) * d; %>
                  <% y = Math.sin(rad) * d; %>
                  <% position = `position: absolute; left: ${x}px; right: ${x}px; top: ${y}px; bottom: ${y}px` %>
                  <% if (business.workhours.includes(`${hh}:${mm}`)) { %>
                    <li class="checked" onclick="addInput(this, 'workhours')" style="<%= position %>" data-time="<%= hh %>:<%= mm %>">
                      <%= numTxt %>
                      <input type="text" name="workhours" value="<%= hh %>:<%= mm %>">
                    </li>
                    
                  <% } else { %>
                    <li onclick="addInput(this, 'workhours')" style="<%= position %>" data-time="<%= hh %>:<%= mm %>">
                      <%= numTxt %>  
                    </li>
                    <!-- <input type="text" style="<%= position %>" name="workhours" value="" data-time="<%= hh %>:<%= mm %>"> -->
                  <% } %>
                  <% angle = angle === 360 ? 15 : angle + 15; %>
                  <% d += 1.5; %>
                <% } %>
              <% } %>
            <% })();%>
          </ul>
        </div>
        <div id="holidays">
          <label for="time">Upcoming holidays</label>
          <% (function() { %>
            <% allHolidays.forEach((holiday) => { %>
              <% if (business.holidays.includes(holiday.date)) { %>
                <span>
                   <input type="checkbox" name="holidays" value="<%= holiday.date %>" checked> 
                  <label><%= holiday.event %></label>
                  <label>(<%= holiday.date %>)</label>  
                </span>
              <% } else { %>
                <span>
                   <input type="checkbox" name="holidays" value="<%= holiday.date %>">
                  <label><%= holiday.event %></label>
                   <label>(<%= holiday.date %>)</label>
                </span>
               
              <% } %>
            <% }); %>
          <% })(); %>
        </div>
        <div class="exceptionDates">
          <label for="time">Exception days</label>
          <div id="excDate">
            <% for (let i = 0; i < business.exceptionDates.length; i++) { %>
              <div>
                <input type="date" name="exceptionDates" value="<%= business.exceptionDates[i] %>">
                <button type="button" onclick="this.parentNode.remove()">remove</button>
              </div>  
            <% } %>
          </div>
          <button class="addBtn" type="button" onclick="addExcDate()">&#43;</button>
        </div>
    </form>
  </div>
  <button class="submitBtn" type="submit" form="schedule-form">Save</button>
	<script src="public/script.js"></script>
</body>
</html>