
<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <% include partials/business-navbar %>
    </header>
    <main id="main" class="appointments">
      <div class="page-title">
        <H2>Upcoming clients</H2>
      </div>
      <ul>
        <% if (appointments.length > 0) { %>
          <% appointments.forEach((appointment) => { %>
          <div class="appointment-list">
            <li><%= appointment.date %> with <%= appointment.userEmail %> Reason: <%= appointment.reason %></li>
              <% if (appointment.canceled === false) { %>
                <button class="active" type="button" onclick="cancel(this, '<%= appointment._id %>')">Cancel</button>
              <% } else { %>
                <button class="canceled" type="button">Canceled</button>
              <% } %>
          </div>
          <% }); %>
        <% } else { %>
          <li>You don't have appointments.</li>
        <% } %>
      </ul>
      <div id="message"><%= message %></div>
    </main>
  </div>
  <script src="/public/scripts/home.js"></script>
  <script src="/public/scripts/shared.js"></script>
</body>
</html>