<!DOCTYPE html>
<html>
<head>
  <title>Book a visit</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <% include partials/client-navbar %>
    </header>
    <main id="main" class="booking">
      <div class="title">
        <H2>Book an appointment</H2>
      </div>
      <div class="contacts">
        <div class="bar">
          <li>Choose contact</li>
          <button class="material-icons" onclick="showContent()">expand_more</button>
        </div>
        <ul id="content" class="content">
          <% contacts.forEach((contact) => { %>
              <li><%= contact.local.username %></li>
          <% }); %>
        </ul>
      </div>
      <div class="calendar">
        <div class="title">
          <h3>Today is <%= dateObj.toDateString() %> </h3>
        </div>
        <div class="month">
          <% const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug", "Sep", "Oct", "Nov", "Dec"] %>
          <button type="button" onclick="appointment.setMonth('<%= dateObj.toISOString() %>', 'prev')" class="material-icons">keyboard_arrow_left</button>
          <span id="month"><%= monthNames[dateObj.getMonth()] %></span>
          <button type="button" onclick="appointment.setMonth('<%= dateObj.toISOString() %>', 'next')" class="material-icons">keyboard_arrow_right</button>
        </div>
        <ul class="days"> 
          <li>Mo</li>
          <li>Tu</li>
          <li>We</li>
          <li>Th</li>
          <li>Fr</li>
          <li>Sa</li>
          <li>Su</li>
        </ul>
        <ul id="days" class="days">
          <% (function() { %>
            <% days.forEach((day) => { %>
              <li>
                <% if (day.isAvailable) { %> 
                    <div class="availableDays" onclick="appointment.setDay('<%= dateObj.toISOString() %>', this)"><%= day.num %></div> 
                <% } else { %>
                    <div><%= day.num %></div>
                <% } %>
              </li>
            <% }); %>
          <% })(); %>
        </ul>
      </div>
      <div class="time">
        <div class="title">
          <h3>Time</h3>
        </div>    
        <ul id="timetable">
          <li></li>
        </ul>
      <div class="reasonForVisit">
        <div class="title">
          <h3>Reason for visit</h3>
        </div>
        <div>
          <textarea id="reason" rows="4" name="reason"></textarea>
        </div>
      </div>
      <div id="msg"></div>
      <button class="submitBtn" type="button" onclick="appointment.book()">Book Now</button> 
    </main>   
  </div>   
  <script src="/public/script.js"></script>
  <script src="/public/client-booking.js"></script>
</body>
</html>