<!DOCTYPE html>
<html>
<head>
  <title>Book a visit</title>
  <% include partials/head %>
</head>
<body>
  <div class="grid-container">
    <div class="header">
      <% include partials/client-navbar %>
    </div>
    <div class="title">
      <H2>Book an appointment</H2>
    </div>
    <div class="contacts">
      <div class="contacts-bar">
        <span><p><%= business.local.username %></p></span>
        <button class="material-icons" onclick="showDropdown('contacts-content')">expand_more</button>
      </div>
      <div id="contacts-content" class="contacts-content">
        <% contacts.forEach((contact) => { %>
          <% if (contact.local.username !== business.local.username) { %>
            <a href="/book/<%= contact._id %>"><%= contact.local.username %></a>
          <% } %>
        <% }); %>
      </div>
    </div>
    <div class="calendar">
      <div class="title">
        <h3>Today, <%= DateObj.toLocaleDateString() %> </h3>
        <h3 id="year"><%= DateObj.getFullYear() %> </h3>
      </div>
      <div class="month">
        <% const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug", "Sep", "Oct", "Nov", "Dec"] %>
        <button type="button" onclick="setMonth('prevmonth')" class="material-icons">keyboard_arrow_left</button>
        <span id="month"><%= monthNames[DateObj.getMonth()] %></span>
        <button type="button" onclick="setMonth('nextmonth')" class="material-icons">keyboard_arrow_right</button>
      </div>
      <ul class="days"> 
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
      </ul>
      <ul id="days" class="days">
        <% let FirstAppDay = false; %>
        <% (function() { %>
          <% days.forEach((day) => { %>
            <li>
              <% if (day.app && !FirstAppDay) { %>
                <% FirstAppDay = true; %>          
                  <div id="checkedDay" class="appDays" onclick="setDay(this)"><%= day.num %></div> 
              <% } else if (day.app) { %>
                  <div class="appDays" onclick="setDay(this)"><%= day.num %></div> 
              <% } else { %>
                  <div><%= day.num %></div>
              <% } %>
            </li>
          <% }); %>
        <% })(); %>
      </ul>
    </div>
    <div class="time">
      <!-- <div class="title">
        <h3>AM</h3>
      </div>   -->  
      <div class="title">
        <h3>Time</h3>
      </div>    
      <ul id="amTime">
        <% (function() { %>
          <% let firstAppTime = false; %>
          <% if (FirstAppDay) { %>
            <% hours.forEach((hour) => { %>
              <% if (firstAppTime) { %>
                <% firstAppTime = true; %>
                <li id="checkedTime"><%= hour %></li>
              <% }else { %>
                <li><%= hour %></li>
              <% } %>
            <% }); %>
          <% } else { %>
          <p><%= 'No time available this month' %></p>
          <% } %>
        <% })(); %>
      </ul>
<!--       <div class="title">
        <h3>PM</h3>
      </div> -->
  <!--     <ul id="pmTime">
        
      </ul> -->
    </div>
    <div class="reasonForVisit">
      <div class="title">
        <h3>Reason for visit</h3>
      </div>
      <div>
        <textarea id="reason" rows="4" name="reason"></textarea>
      </div>
    </div>
    <div id="msg"></div>
    <button class="submitBtn" type="button" onclick="book()">Book Now</button> 

    <button class="cancelBtn">Cancel</button>
  </div>
  <script src="/public/script.js"></script>
</body>
</html>