<!DOCTYPE html>
<html>
<head>
  <title>Book a visit</title>
  <% include head %>
</head>
<body>

  <% include client-navbar %>

  <!------------------------>
  <!-- Book an appintment -->
  <!------------------------>
  <div class="grid-container">

    <!-- top part -->
    <div class="header">

      <% include header %>

    </div>

    <!-- Page title -->
    <div class="header">

      <H2>Book an appointment</H2>

    </div>

    <!-- Selecting a doctor -->
    <div class="dropdown">

      <span class="dropdown-item">Amanda Smith </br> <i>Dentist</i></span><!--
   --><button id="dropdown-btnId" class="material-icons"  onclick="dropdown()">expand_more</button>

      <div id="dropdown-contentId" class="dropdown-content">

        <a href="#">Amanda Smith </br> <i>Dentist</i></a>
        <a href="#">Amanda Smith </br> <i>Dentist</i></a>
        <a href="#">Amanda Smith </br> <i>Dentist</i></a>
        <a href="#">Amanda Smith </br> <i>Dentist</i></a>

      </div>

    </div>

    <!-- Calendar -->
    <div class="box">

      <h3>Today, <%= today %></h3>

      <div class="month"> 

        <a href="/<%= username %>/prevweek" class="material-icons">keyboard_arrow_left</a>
        <span><%= month %></span>
        <a href="/<%= username %>/nextweek" class="material-icons">keyboard_arrow_right</a>

      </div>

      <ul class="days"> 
        <% for (i = 0; i < days.length; i++) { %>
        <li><%= days[i][0] %> %></li>
        <% } %>
        <!-- <li><span class="active"></span></li> -->
      </ul>

    </div>

    <!-- Time table before noon -->
    <div class="box">

      <h3>Before noon</h3>

      <ul class="times">
        <li>8:00</li>
        <li>9:00</li>
        <li>10:00</li>
        <li>11:00</li>
        <li>12:00</li>
        <li>1:00</li>
        <li>2:00</li>
        <li>3:00</li>
        <li>4:00</li>
      </ul>

    </div>

    <!-- Time table before noon -->
    <div class="box">

      <h3>After noon</h3>

      <ul class="times">
        <li>8:00</li>
        <li>9:00</li>
        <li>10:00</li>
        <li>11:00</li>
        <li>12:00</li>
        <li>1:00</li>
        <li>2:00</li>
        <li>3:00</li>
        <li>4:00</li>
      </ul>

    </div>

    <!-- Reason for visit -->
    <div class="box">

      <p>Reason for visit</p>

      <form action="/" method="post">
        <textarea rows="4" name="reason"></textarea>
 
      </form>

    </div>

    <!-- Buttons-->
    <button class="submitBtn" type="submit">Book Now</button>
    <button class="cancelBtn">Cancel</button>

  </div>
  <script src="public/script.js"></script>
</body>
</html>