<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Book a visit</title>
	<link rel="stylesheet" type="text/css" href="public/style_ver1.css">
</head>
<body>
	<div class="header">
		<a href="/">Sign in as a doctor</a>
	</div>
	<div class="form">
		<form action="/<%= username %>/newappointment" method="post">
			<input type="text" name="name" placeholder="Name">
			<input type="tel" name="phone" placeholder="Phone">
			<input type="email" name="email" placeholder="Email">
			<input type="text" name="reason" placeholder="Reason for visit">
			<input type="number" name="ins" placeholder="Insurance">
			<input id="bookTime" type="text" name="time" placeholder="Date and time">
			<input type="submit" value="Book Now">
		</form>
	</div>
	<div class="calendar" id="times">
		<% for (let i = 0; i < week.length; i++) { %>
		<ul>
			<% for (let j = 0; j < week[i].length; j++) { %>
        <% if (j === 0) { %>
          <li><%= week[i][j] %></li>
        <% } else if (week[i][j] === 'closed' || week[i][j] === 'booked') { %>
          <li class="closed"><%= week[i][j] %></li>
        <% } else { %>
				  <li class="time" onclick="bookTime.value = (`${this.parentElement.firstElementChild.innerHTML} ${this.innerHTML}`);"><%= week[i][j]%></li>
        <% } %>
		  <% } %>
      </ul>
    <% } %>
	</div>
	<form class="nextweek" action="/<%= username %>/nextweek" method="get">
		<input type="submit" name="" value="Next Week">		
	</form>
	<form class="prevweek" action="/<%= username %>/prevweek" method="get">
		<input type="submit" name="" value="Prev Week">		
	</form>
	
</body>
</html>