<!-- views/partials/client-navbar.ejs -->

<nav id="mySidenav" class="sidenav">

  <div class="user">

    <a href="/<%= username %>/profile"><i class="material-icons">account_circle</i><span><%= username %></span></a>

  </div>

  <div class="sidenav-items">

    <a href="/<%= username %>"><i class="material-icons">account_circle</i><span>Upcoming appointments</span></a>
    <a href="/<%= username %>/book"><i class="material-icons">account_circle</i><span>Book an appointment</span></a>
    <a href="/<%= username %>/contacts"><i class="material-icons">account_circle</i><span>My contacts</span></a>

  </div> 

  <div class="footer">
      
    <a href=""><i class="material-icons">account_circle</i><span>Help</span></a>
    <a class="terms" href="">Terms</a>
    <a class="privacy" href="">Privacy</a>
        
  </div> 

</nav>